$bg-color:#e9d4ac;
$bg-white: rgb(255,255,255);
$text-color: rgb(0 , 0 , 0);
$font-family: 'Montserrat', sans-serif;

@mixin align {
    text-align:center;  
    justify-content:center;
}

.mainBoxLogin {
    background-image: url(../../Assets/paper.jpg);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imgLogo {
    height: 30vh;
    width: 60vw;
    margin: 0vh 4vh;
}

.loginBox {
    flex-direction: column;
    align-items: center;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titleAndForm {
    display: flex;
    width: 100%;
}

.title {
    @include align;
    font-family: $font-family;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 1000;
    text-transform: uppercase;
    margin: 4vh 0 5vh;
}

.form {
    @include align;
    width: 100%;
}

.buttonLogin {
    width: 32vh;
    height: 20vh;
    margin: 0;
    display: flex;
}

.phraseLogin {
    @include align;
    font-family: $font-family;
    font-size: 1.1em;
    margin: 4vh 3vh;
        a {
            color: $text-color;
            font-weight: bold;
            text-decoration: none;
        }
}

@media screen and (min-width: 768px) {
    .mainBoxLogin {
        display: flex;
        align-items: center;
        // padding-bottom: 5.5vh;
    }

    .loginBox { 
        @include align;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        border-radius: 20px;   
    }

    .imgLogo {
        width: 60vw;
        height: 70vh;
        margin: -60px;
    }
    .title {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1180px){
    .imgLogo {
        width: auto;
        // height: 56vh;
    }
    
}