.order-card {
    display: flex;
    flex-direction: column;
    border-radius: 1.2rem;
    margin-bottom: 3rem;
    width: 16rem;
    min-height: 20rem;
    box-shadow: 0px 4.81626px 4.81626px rgba(0, 0, 0, 0.25);
}

.order-status {
    border-radius: 1.2rem 1.2rem 0 0;
    line-height: 0.5px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.order-card-products, .order-card-buttons {
    padding: 0.8rem;
}

.order-card-buttons{   
    display: flex;
    justify-content: center;    
}

.order-products {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.order-products-left {
    display: flex;
    flex-direction: row;
}

.bg-color-pending {
    background-color: rgba(180, 33, 33, 0.48);
}

.bg-color-yellow {
    background-color: #FFDCA8;
}

.bg-color-green {
    background-color: #AAD253;
}

.bg-color-toclient {
    background-color: #65B8E2;
}