.statusFilter-bar {
    height: 40vh;
    background: #e5e5e570;
    border-radius: 27px;
    margin: 5vh;
    padding: 3vh 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 25%;
}

.icon-bar {
    width: 6vh;
    height: 6vh;
}

.eye {
    height: 6vh;
    width: 6vh;
}