.statusFilter-bar {
    height: 40%;
    justify-content: center;
    align-items:stretch;
    background: #E5E5E5;
    border: 1px solid #b6b6b6;
    border-radius: 11.8976px;
    margin: 20vh 3vh;
}

.eye {
    height: 6vh;
    width: 6vh;
}