// MealNavBar.jsx
.meal-navbar {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 143, 131, 0.33);
    color: #008F83;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    // @media screen and (min-width: 801px){
    //     display: none;
    // }

}

.GeneralButton .meal { 
    border: none;
}

// Header.jsx
.logo {
    width: 25vh;
    height: 14vh;
}

.header-navbar-desktop {
    display: none;
    width: 100%;
    height: 12vh;
    color: #0000;
    // background-color: rgba(81, 104, 238, 0.29);
    background-color: rgb(233,212,172);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Barrio', cursive;
    font-style: normal;
    font-weight: 500;
    border-radius: 0 0 1.5rem 1.5rem;
}

.header-title {
    font-family: 'Finger Paint', cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    color: #000;
}

.header-title-kitchen {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    color: #000;
}

.header-button {
    font-family: 'Finger Paint', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    padding: 3.5vh;
}

.header-button:hover {
    background-color:  rgba(207, 186, 147, 0.712);
}

button.header-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img.logoKitcken {
    width: 47vh;
    height: 36vh;
    padding-top: 3vh;
}
