.content-container {
    display: flex;
    flex-direction: row;
    
}

.allOrders-container {
    margin: 5vh 1vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

