.div-style {
    // background-image: url(../../Assets/404.jpg);
    margin: 0;
    font-family: 'Finger Paint', cursive;
    // background-color: rgb(233,212,172);
}

.title404, .subtitle404, .return404 {
    width: 100%;
    font-weight: 500;
    margin: 5vh;
    z-index: 1;
}

.title404 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.link404 {
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    background-color: rgb(233,212,172);
    padding: 1vh;
}

.bg404 {
    width: 100%;
    height: 99vh;
    z-index: -1;
}

